:root {
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --black: #000000;
  --white: #ffffff;

  --elevation-a50: #fafafa;
  --elevation-a100: #f4f4f5;
  --elevation-a200: #e4e4e7;
  --elevation-a300: #d4d4d8;
  --elevation-a400: #a1a1aa;
  --elevation-a500: #71717a;
  --elevation-a600: #52525b;
  --elevation-a700: #3f3f46;
  --elevation-a800: #27272a;
  --elevation-a900: #18181b;

  --primary-a1000: #ff3131;
  --primary-a900: #ff4646;
  --primary-a800: #ff5a5a;
  --primary-a700: #ff6f6f;
  --primary-a600: #ff8383;
  --primary-a500: #ff9898;
  --primary-a400: #ffadad;
  --primary-a300: #ffc1c1;
  --primary-a200: #ffd6d6;
  --primary-a100: #ffeaea;

  --secondary-green-a50: #32fca8;
  --secondary-green-a100: #12eb90;
  --secondary-green-a200: #07d580;
  --secondary-green-a300: #05be70;
  --secondary-green-a400: #049a5b;

  --secondary-red-a50: #ff8b8e;
  --secondary-red-a100: #e03a3d;
  --secondary-red-a200: #fe0000;
  --secondary-red-a300: #dc0004;
  --secondary-red-a400: #c80003;

  --gap-x: #{rem(24px)};
  --radius: #{rem(8px)};
}
