@tailwind base;
@tailwind components;
@tailwind utilities;

.stack {
  display: flex;
  flex-direction: column;
}

.reverseColor {
  * {
    color: var(--white) !important;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--black);
}

::selection {
  color: var(--white);
  background: var(--black);
}

.swiper-slide {
  width: fit-content !important;
}