/* root.css */
:root {
  /* White color with various opacities */
  --wht-a100: rgba(255, 255, 255, 1);
  --wht-a95: rgba(255, 255, 255, 0.95);
  --wht-a90: rgba(255, 255, 255, 0.9);
  --wht-a85: rgba(255, 255, 255, 0.85);
  --wht-a80: rgba(255, 255, 255, 0.8);
  --wht-a75: rgba(255, 255, 255, 0.75);
  --wht-a70: rgba(255, 255, 255, 0.7);
  --wht-a65: rgba(255, 255, 255, 0.65);
  --wht-a60: rgba(255, 255, 255, 0.6);
  --wht-a55: rgba(255, 255, 255, 0.55);
  --wht-a50: rgba(255, 255, 255, 0.5);
  --wht-a45: rgba(255, 255, 255, 0.45);
  --wht-a40: rgba(255, 255, 255, 0.4);
  --wht-a35: rgba(255, 255, 255, 0.35);
  --wht-a30: rgba(255, 255, 255, 0.3);
  --wht-a25: rgba(255, 255, 255, 0.25);
  --wht-a20: rgba(255, 255, 255, 0.2);
  --wht-a15: rgba(255, 255, 255, 0.15);
  --wht-a10: rgba(255, 255, 255, 0.1);
  --wht-a5: rgba(255, 255, 255, 0.05);

  /* Black color with various opacities */
  --blk-a100: rgba(0, 0, 0, 1);
  --blk-a95: rgba(0, 0, 0, 0.95);
  --blk-a90: rgba(0, 0, 0, 0.9);
  --blk-a85: rgba(0, 0, 0, 0.85);
  --blk-a80: rgba(0, 0, 0, 0.8);
  --blk-a75: rgba(0, 0, 0, 0.75);
  --blk-a70: rgba(0, 0, 0, 0.7);
  --blk-a65: rgba(0, 0, 0, 0.65);
  --blk-a60: rgba(0, 0, 0, 0.6);
  --blk-a55: rgba(0, 0, 0, 0.55);
  --blk-a50: rgba(0, 0, 0, 0.5);
  --blk-a45: rgba(0, 0, 0, 0.45);
  --blk-a40: rgba(0, 0, 0, 0.4);
  --blk-a35: rgba(0, 0, 0, 0.35);
  --blk-a30: rgba(0, 0, 0, 0.3);
  --blk-a25: rgba(0, 0, 0, 0.25);
  --blk-a20: rgba(0, 0, 0, 0.2);
  --blk-a15: rgba(0, 0, 0, 0.15);
  --blk-a10: rgba(0, 0, 0, 0.1);
  --blk-a5: rgba(0, 0, 0, 0.05);

  /* Custom colors */
  --sgl-5: #f9f9f6;
  --sgl-10: #f0efeb;
  --sgl-15: #e0ded8;
  --sgl-20: #d1cec7;
  --sgl-25: #c7c4bd;
  --sgl-30: #b8b5ad;
  --sgl-40: #aaa69d;
  --sgl-50: #969288;
  --sgl-60: #817d74;
  --sgl-70: #726e65;
  --sgl-80: #605e57;
  --sgl-85: #4a4945;
  --sgl-90: #383733;
  --sgl-95: #2f2f2d;
  --sgl-100: #201f1e;

  --bge-5: #fcfcf2;
  --bge-10: #faf9e5;
  --bge-15: #fbf607;
  --bge-20: #f4f1c2;
  --bge-25: #f1eca7;
  --bge-30: #eee781;
  --bge-40: #ebdd60;
  --bge-50: #e9d225;
  --bge-60: #d8be13;
  --bge-70: #c9ac08;
  --bge-80: #b29506;
  --bge-85: #bc7503;
  --bge-90: #6e5c02;
  --bge-95: #504302;
  --bge-100: #3d3100;

  --org-5: #fffaeb;
  --org-10: #fff5d6;
  --org-15: #ffeebd;
  --org-20: #fbe39d;
  --org-25: #fcdc7d;
  --org-30: #f6cf5a;
  --org-40: #f0c43f;
  --org-50: #e3af2c;
  --org-60: #d89d13;
  --org-70: #c0840c;
  --org-80: #a26b07;
  --org-85: #895906;
  --org-90: #774b04;
  --org-95: #543303;
  --org-100: #3c2401;

  --dyb-0: #fafafa;
  --dyb-5: #f5f5f5;
  --dyb-10: #ebebeb;
  --dyb-15: #d7d7d7;
  --dyb-20: #d1d1d1;
  --dyb-25: #c2c2c2;
  --dyb-30: #b2b2b2;
  --dyb-40: #a2a2a2;
  --dyb-50: #8f8f8f;
  --dyb-60: #7a7a7a;
  --dyb-70: #666666;
  --dyb-80: #525252;
  --dyb-85: #3d3d3d;
  --dyb-90: #2e2e2e;
  --dyb-95: #1e1e1e;
  --dyb-100: #0f0f0f;

  --r-5: #fdf1f1;
  --r-10: #fce3e3;
  --r-15: #fad1d1;
  --r-20: #f88989;
  --r-25: #f59899;
  --r-30: #f17674;
  --r-40: #ee514f;
  --r-50: #eb201e;
  --r-60: #ce1612;
  --r-70: #821110;
  --r-80: #970e0c;
  --r-85: #840d0b;
  --r-90: #720a09;
  --r-95: #560706;
  --r-100: #300301;

  --b-5: #f1f5fe;
  --b-10: #dde8fd;
  --b-15: #cfdefc;
  --b-20: #bacffc;
  --b-25: #9cbbfc;
  --b-30: #739cfc;
  --b-40: #4b80fb;
  --b-50: #2163fd;
  --b-60: #0146f4;
  --b-70: #003acc;
  --b-80: #0031ad;
  --b-85: #00288f;
  --b-90: #001f7b;
  --b-95: #00175c;
  --b-100: #000f3d;

  --ma-5: #EDF9FA;
  --ma-10: #DAF5F7;
  --ma-15: #BBECF0;
  --ma-20: #89E1E8;
  --ma-25: #60D7E0;
  --ma-30: #48CAD4;
  --ma-40: #32BFC9;
  --ma-50: #0FB4BD;
  --ma-60: #0D9CA3;
  --ma-70: #0B8187;
  --ma-80: #09666B;
  --ma-85: #074E52;

  --pu-5: #F5EDFF;
  --pu-10: #eaebed;
  --pu-15: #e0dce4;
  --pu-20: #d0cbd7;
  --pu-25: #c1b8ca;
  --pu-30: #b2a8bd;
  --pu-40: #a496b0;
  --pu-50: #917f9f;
  --pu-60: #8069bc;
  --pu-70: #715a7c;
  --pu-80: #504568;
  --pu-85: #4e3857;
  --pu-90: #432f4c;
  --pu-95: #332339;
  --pu-100: #170f19;

  --gr-5: #e4fccf;
  --gr-10: #d4fbb1;
  --gr-15: #bef988;
  --gr-20: #a3f859;
  --gr-25: #88f628;
  --gr-30: #6ee109;
  --gr-40: #5bcb06;
  --gr-50: #4d8706;
  --gr-60: #3da003;
  --gr-70: #358c03;
  --gr-80: #297a00;
  --gr-85: #206100;
  --gr-90: #174000;
  --gr-95: #f38000;
  --gr-100: #b29000;
}
